@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100vh;
}
.btn{
    display: flex;
    gap: 1rem;
}
.btn button{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 600;
} */